<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1"/>
<title>Cadastro de Peças</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Procunha" src="/images/accept.png"/>
      </a>
    </div>
  </div>
</nav>


<h1>Cadastro</h1>
<script src="/js/boatstrap.min.js"></script>
</body>
</html>